.git
.gitignore
.venv
venv
.idea
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.log
logs/
media/
media_backup/
backups/
*.dump
stroyma_db.dump
data_dump.json
pgdata/
.env
staticfiles/
.dockerignore
Dockerfile
docker-compose*.yml
