{% extends 'products/base.html' %}
{% block content %}
<div class="bg-white rounded-lg shadow-lg p-6 border border-gray-200 dark:border-gray-600">
    <h2 class="text-2xl font-bold text-deep-green mb-6">Редактирование профиля</h2>

    <form method="post" class="space-y-6">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray">{{ form.username.label }}</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error-message">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form.first_name.id_for_label }}" class="block text-sm font-medium text-gray">{{ form.first_name.label }}</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <div class="error-message">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form.last_name.id_for_label }}" class="block text-sm font-medium text-gray">{{ form.last_name.label }}</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <div class="error-message">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray">{{ form.email.label }}</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error-message">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form.new_password.id_for_label }}" class="block text-sm font-medium text-gray">{{ form.new_password.label }}</label>
            {{ form.new_password }}
            {% if form.new_password.errors %}
                <div class="error-message">{{ form.new_password.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form.new_password_confirm.id_for_label }}" class="block text-sm font-medium text-gray">{{ form.new_password_confirm.label }}</label>
            {{ form.new_password_confirm }}
            {% if form.new_password_confirm.errors %}
                <div class="error-message">{{ form.new_password_confirm.errors }}</div>
            {% endif %}
        </div>
        <div class="flex space-x-4">
            <button type="submit" class="button bg-deep-green text-white shadow-hover">
                Сохранить изменения
            </button>
            <a href="{% url 'profile' %}" class="button bg-sandy text-deep-green shadow-hover">
                Отмена
            </a>
        </div>
    </form>
</div>
{% endblock %}