{% extends 'products/base.html' %}
{% block content %}
<div class="bg-white rounded-lg shadow-lg p-6 max-w-md mx-auto border border-gray-200 dark:border-gray-600">
    <h2 class="text-2xl font-bold text-deep-green mb-6">Пароль успешно изменен</h2>
    <p class="mb-4 text-gray">Ваш пароль был успешно изменен. Теперь вы можете войти в свой аккаунт.</p>
    <div class="mt-4 text-center">
        <a href="{% url 'login' %}" class="button bg-deep-green text-white shadow-hover w-full block">Войти</a>
    </div>
</div>
{% endblock %} 