<h2 style="color: var(--text-deep-green); font-family: 'Manrope', sans-serif;">Новый заказ от пользователя</h2>
<p style="font-family: 'Manrope', sans-serif; color: var(--text-gray);">
    <strong class="font-medium">Имя:</strong> {{ user_name }} {{ user_lastname }}
</p>
<p style="font-family: 'Manrope', sans-serif; color: var(--text-gray);">
    <strong class="font-medium">Email:</strong> {{ user_email }}
</p>
<p style="font-family: 'Manrope', sans-serif; color: var(--text-gray);">
    <strong class="font-medium">Телефон:</strong> {{ user_phone }}
</p>
<p style="font-family: 'Manrope', sans-serif; color: var(--text-gray);">
    <strong class="font-medium">Адрес доставки:</strong> {{ delivery_address }}
</p>

<hr style="border-color: var(--bg-sandy);">

<h4 style="color: var(--text-deep-green); font-family: 'Manrope', sans-serif;">Состав заказа:</h4>
<ul style="font-family: 'Manrope', sans-serif; color: var(--text-gray);">
    {% for item in items %}
    <li>
        {{ item.product.name }} - {{ item.quantity }} шт. × {{ item.product.price }} руб. = {{ item.total_price }} руб.
    </li>
    {% endfor %}
</ul>

<h4 style="color: var(--text-deep-green); font-family: 'Manrope', sans-serif;">
    <strong class="font-medium">Итого:</strong> {{ total_price|floatformat:2 }} руб.
</h4>